<div class="search-container center pb-2" data-cy="search__container">
  <div class="center__column" data-cy="search__container-child">
    <mat-form-field appearance="outline" data-cy="search__field">
      <mat-label data-cy="search__label">Enter any text</mat-label>
      <input [(ngModel)]="searchValue" data-cy="search__input" matInput placeholder="foo" required
      >
      <mat-error *ngIf="searchValue === ''" data-cy="search__error">Please enter something to search
      </mat-error>
    </mat-form-field>
    <div>
      <button (click)="search()" [disabled]="searchValue === ''" class="w-100" color="primary"
              data-cy="search__button" mat-raised-button>
        Search
      </button>
    </div>
  </div>
</div>


